.top {
    height: 90px;
    background-color: royalblue;
    position: relative;
    margin-bottom: 20px;
    color: #fff;
}

.weatherForm {
   display: inline-block;
   margin-top: 30px;
   position: absolute;
   right: 0;
}

.cityInput {
    padding: 5px;
}

.submitButton {
    margin-right: 20px;
    padding: 6px;
    background-color: darkblue;
    color: #fff;
    border: 1px solid darkblue;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Arial;
}

.logo {
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    border-radius: 50%;
}

.title {
    display: inline-block;
    margin-left: 10px;

}

.errors {
    color: red;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 8px;
}